# Seleksi baris pada Data Frame dengan query()

Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [2]:
d={'kolom_satu':[1,2,3,4,5],
  'kolom dua':[10,20,30,40,50]}
df= pd.DataFrame(d)
df

   kolom_satu  kolom dua
0           1         10
1           2         20
2           3         30
3           4         40
4           5         50

## Seleksi Baris dengan query ()

In [3]:
df.query('kolom_satu > 2')

   kolom_satu  kolom dua
2           3         30
3           4         40
4           5         50

In [6]:
df.query('`kolom dua` > 30')

   kolom_satu  kolom dua
3           4         40
4           5         50